body {
  box-sizing: border-box;
  font-size: 24px;
  max-width: 50rem;
  margin: auto;
}
input {
  font-size: 24px;
}
.isAdded {
  background: lightgreen;
}
button {
  padding: 1rem;
  background: none;
  font-size: 24px;
}

.entry {
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 1rem;
}
.def {
  font-weight: bold;
}
